@import 'tailwindcss';

:root {
  --background: #fafafb;
  --background-box: #ffffff;
  --foreground: #171717;
  --border-color: #eaebee;
  --border-color-focus: #65a4f6;
  --icon-color: #939393;
  --warning-color: #ff451a;
  --background-hover: #dfdfdf;

  --primary-color: #273c75;
  --secondary-color: rgb(0, 132, 255);
  --secondary-color-darken: #0c62d5;

  --input-shadow: 0 0 4px var(--border-color-focus);
}

@theme {
  --color-primary-color: var(--primary-color);
  --color-secondary-color: var(--secondary-color);
  --color-secondary-color-darken: var(--secondary-color-darken);
  --color-main-background: var(--background);
  --color-box-background: var(--background-box);
  --color-box-background-hover: var(--background-hover);
  --color-border-color: var(--border-color);
  --color-border-color-focus: var(--border-color-focus);
  --color-icon-color: var(--icon-color);
  --color-warning-color: var(--warning-color);
}

@theme {
  --shadow-for-box: 0 0 5px 3px var(--border-color);
}

@layer components {
  .input {
    @apply p-2.5 transition-all duration-400 border border-solid
      border-border-color rounded-lg focus:border-border-color-focus
     focus:shadow-(--input-shadow);
  }
  .icon {
    @apply w-6 h-6 text-icon-color select-none cursor-pointer;
  }
  .bg-pattern {
    @apply bg-center bg-no-repeat bg-contain;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  * {
    padding: 0px;
    margin: 0px;
    border: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1200px;
    margin: auto;
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
  }

  aside,
  nav,
  footer,
  header,
  section,
  main {
    display: block;
  }

  ul,
  ul li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  img,
  svg {
    height: auto;
  }

  address {
    font-style: normal;
  }

  input,
  textarea,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }

  input::-ms-clear {
    display: none;
  }

  button,
  input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
  }
  a {
    display: inline-block;
    cursor: pointer;
  }

  input:focus,
  input:active,
  textarea:focus,
  textarea:active,
  button:focus,
  button:active {
    outline: none;
  }

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  label {
    cursor: pointer;
  }

  legend {
    display: block;
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}
