@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-200: #273c75;
  --color-primary-300: #0c62d5;
  --color-primary-500: #0084ff;
  --color-primary-600: #65a4f6;
  --color-primary-900: #aae8f5;
  --color-primary-1000: #bddafc;

  --color-light-500: #939393;
  --color-light-700: #dfdfdf;
  --color-light-800: #fafafb;
  --color-light-900: #eaeaea;
  --color-light-1000: #f1f7fe;
  --color-light-1200: #fff;

  --color-dark-100: #171717;
  --color-dark-200: #08163b;

  --color-warning: #ff451a;
}
@utility transition-default {
  @apply transition-all ease-in duration-300;
}
@utility background-light900_dark200 {
  @apply bg-light-900 dark:bg-dark-200;
  @apply transition-default;
}
@utility background-light1200_dark200 {
  @apply bg-light-1200 dark:bg-dark-200;
  @apply transition-default;
}
@utility background-light1000_dark200 {
  @apply bg-light-1000 dark:bg-dark-200;
  @apply transition-default;
}
@utility background-primary1000_dark200 {
  @apply bg-primary-1000 dark:bg-dark-200;
  @apply transition-default;
}
@utility text-dark100_light900 {
  @apply text-dark-100 dark:text-light-900;
  @apply transition-default;
}
@utility text-primary200_light900 {
  @apply text-primary-200 dark:text-light-900;
  @apply transition-default;
}
@utility text-dark-primary200 {
  @apply dark:text-primary-200;
  @apply transition-default;
}

@utility text-primary300_light900 {
  @apply text-primary-300 dark:text-light-900;
  @apply transition-default;
}

@layer components {
  .input {
    @apply p-2.5 transition-all duration-400 border border-solid
      border-light-500 rounded-lg focus:border-primary-600 focus:shadow-(--input-shadow);
  }
  .icon {
    @apply w-6 h-6 text-light-500 select-none cursor-pointer;
  }
  .category-icon {
    @apply fill-primary-200 dark:fill-light-900;
  }
  .bg-pattern {
    @apply bg-center bg-no-repeat bg-contain;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-around {
    @apply flex justify-around items-center;
  }

  .invert-colors {
    @apply invert-0 dark:invert;
  }
}

@layer base {
  body {
    @apply background-light900_dark200 bg-background text-foreground;
    @apply text-dark100_light900;
  }

  * {
    padding: 0px;
    margin: 0px;
    border: none;
    @apply border-border outline-ring/50;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .wrapper {
    max-width: 1200px;
    margin: auto;
  }
  a,
  a:link,
  a:visited {
    text-decoration: none;
  }

  aside,
  nav,
  footer,
  header,
  section,
  main {
    display: block;
  }

  ul,
  ul li {
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  img,
  svg {
    height: auto;
  }

  address {
    font-style: normal;
  }

  input,
  textarea,
  button,
  select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
  }

  input::-ms-clear {
    display: none;
  }

  button,
  input[type='submit'] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
  }
  a {
    display: inline-block;
    cursor: pointer;
  }

  input:focus,
  input:active,
  textarea:focus,
  textarea:active,
  button:focus,
  button:active {
    outline: none;
  }

  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  label {
    cursor: pointer;
  }

  legend {
    display: block;
  }
  html {
    @apply font-sans;
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
